body {
    margin: 0;
    overflow: hidden;
    background: rgb(49, 49, 49);
}

.project-heading {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

.project-description {
    display: block;
    text-align: center;
    color: white;
    
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    background: rgb(53, 53, 53);
    width: 75vh;
    margin: 0 auto;
}

.flex-container {
    border: 1px solid white;
    height: 75vh;
    width: 75vh;
    margin: 0 auto;
    margin-top: 2vh;
    display: flex;
    background: rgb(134, 134, 134);
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}